// Styles which should be present in both the front end AND the back end (WYSIWYG editors)
@import "variables";

img{ margin-bottom:1em; }
img[style*="float: left"] { margin: 0 1em 1em 0; max-width:40%; height:auto !important; }
img[style*="float: right"] { margin: 0 0 1em 1em;  max-width:40%; height:auto !important; }
img[style*="margin-left: auto"] { margin-bottom: 1em;  max-width:100%; width:auto !important; height:auto !important; }
