// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$etch-small-name: 'etch-small';
$etch-small-x: 593px;
$etch-small-y: 285px;
$etch-small-offset-x: -593px;
$etch-small-offset-y: -285px;
$etch-small-width: 71px;
$etch-small-height: 23px;
$etch-small-total-width: 666px;
$etch-small-total-height: 399px;
$etch-small-image: '/img/dist/sprite.png';
$etch-small: (593px, 285px, -593px, -285px, 71px, 23px, 666px, 399px, '/img/dist/sprite.png', 'etch-small', );
$facebook-name: 'facebook';
$facebook-x: 627px;
$facebook-y: 135px;
$facebook-offset-x: -627px;
$facebook-offset-y: -135px;
$facebook-width: 36px;
$facebook-height: 36px;
$facebook-total-width: 666px;
$facebook-total-height: 399px;
$facebook-image: '/img/dist/sprite.png';
$facebook: (627px, 135px, -627px, -135px, 36px, 36px, 666px, 399px, '/img/dist/sprite.png', 'facebook', );
$like-name: 'like';
$like-x: 627px;
$like-y: 235px;
$like-offset-x: -627px;
$like-offset-y: -235px;
$like-width: 29px;
$like-height: 24px;
$like-total-width: 666px;
$like-total-height: 399px;
$like-image: '/img/dist/sprite.png';
$like: (627px, 235px, -627px, -235px, 29px, 24px, 666px, 399px, '/img/dist/sprite.png', 'like', );
$logo-ondark-name: 'logo-ondark';
$logo-ondark-x: 0px;
$logo-ondark-y: 135px;
$logo-ondark-offset-x: 0px;
$logo-ondark-offset-y: -135px;
$logo-ondark-width: 627px;
$logo-ondark-height: 127px;
$logo-ondark-total-width: 666px;
$logo-ondark-total-height: 399px;
$logo-ondark-image: '/img/dist/sprite.png';
$logo-ondark: (0px, 135px, 0px, -135px, 627px, 127px, 666px, 399px, '/img/dist/sprite.png', 'logo-ondark', );
$logo-onlight-name: 'logo-onlight';
$logo-onlight-x: 0px;
$logo-onlight-y: 0px;
$logo-onlight-offset-x: 0px;
$logo-onlight-offset-y: 0px;
$logo-onlight-width: 666px;
$logo-onlight-height: 135px;
$logo-onlight-total-width: 666px;
$logo-onlight-total-height: 399px;
$logo-onlight-image: '/img/dist/sprite.png';
$logo-onlight: (0px, 0px, 0px, 0px, 666px, 135px, 666px, 399px, '/img/dist/sprite.png', 'logo-onlight', );
$logo-sm-ondark-name: 'logo-sm-ondark';
$logo-sm-ondark-x: 0px;
$logo-sm-ondark-y: 262px;
$logo-sm-ondark-offset-x: 0px;
$logo-sm-ondark-offset-y: -262px;
$logo-sm-ondark-width: 260px;
$logo-sm-ondark-height: 81px;
$logo-sm-ondark-total-width: 666px;
$logo-sm-ondark-total-height: 399px;
$logo-sm-ondark-image: '/img/dist/sprite.png';
$logo-sm-ondark: (0px, 262px, 0px, -262px, 260px, 81px, 666px, 399px, '/img/dist/sprite.png', 'logo-sm-ondark', );
$logo-sm-onlight-name: 'logo-sm-onlight';
$logo-sm-onlight-x: 260px;
$logo-sm-onlight-y: 262px;
$logo-sm-onlight-offset-x: -260px;
$logo-sm-onlight-offset-y: -262px;
$logo-sm-onlight-width: 260px;
$logo-sm-onlight-height: 81px;
$logo-sm-onlight-total-width: 666px;
$logo-sm-onlight-total-height: 399px;
$logo-sm-onlight-image: '/img/dist/sprite.png';
$logo-sm-onlight: (260px, 262px, -260px, -262px, 260px, 81px, 666px, 399px, '/img/dist/sprite.png', 'logo-sm-onlight', );
$moov-name: 'moov';
$moov-x: 520px;
$moov-y: 285px;
$moov-offset-x: -520px;
$moov-offset-y: -285px;
$moov-width: 73px;
$moov-height: 23px;
$moov-total-width: 666px;
$moov-total-height: 399px;
$moov-image: '/img/dist/sprite.png';
$moov: (520px, 285px, -520px, -285px, 73px, 23px, 666px, 399px, '/img/dist/sprite.png', 'moov', );
$postgraphile-name: 'postgraphile';
$postgraphile-x: 520px;
$postgraphile-y: 262px;
$postgraphile-offset-x: -520px;
$postgraphile-offset-y: -262px;
$postgraphile-width: 138px;
$postgraphile-height: 23px;
$postgraphile-total-width: 666px;
$postgraphile-total-height: 399px;
$postgraphile-image: '/img/dist/sprite.png';
$postgraphile: (520px, 262px, -520px, -262px, 138px, 23px, 666px, 399px, '/img/dist/sprite.png', 'postgraphile', );
$sponsors-name: 'sponsors';
$sponsors-x: 627px;
$sponsors-y: 202px;
$sponsors-offset-x: -627px;
$sponsors-offset-y: -202px;
$sponsors-width: 33px;
$sponsors-height: 33px;
$sponsors-total-width: 666px;
$sponsors-total-height: 399px;
$sponsors-image: '/img/dist/sprite.png';
$sponsors: (627px, 202px, -627px, -202px, 33px, 33px, 666px, 399px, '/img/dist/sprite.png', 'sponsors', );
$tak-name: 'tak';
$tak-x: 0px;
$tak-y: 343px;
$tak-offset-x: 0px;
$tak-offset-y: -343px;
$tak-width: 172px;
$tak-height: 23px;
$tak-total-width: 666px;
$tak-total-height: 399px;
$tak-image: '/img/dist/sprite.png';
$tak: (0px, 343px, 0px, -343px, 172px, 23px, 666px, 399px, '/img/dist/sprite.png', 'tak', );
$tools-name: 'tools';
$tools-x: 520px;
$tools-y: 308px;
$tools-offset-x: -520px;
$tools-offset-y: -308px;
$tools-width: 30px;
$tools-height: 31px;
$tools-total-width: 666px;
$tools-total-height: 399px;
$tools-image: '/img/dist/sprite.png';
$tools: (520px, 308px, -520px, -308px, 30px, 31px, 666px, 399px, '/img/dist/sprite.png', 'tools', );
$twitter-name: 'twitter';
$twitter-x: 627px;
$twitter-y: 171px;
$twitter-offset-x: -627px;
$twitter-offset-y: -171px;
$twitter-width: 39px;
$twitter-height: 31px;
$twitter-total-width: 666px;
$twitter-total-height: 399px;
$twitter-image: '/img/dist/sprite.png';
$twitter: (627px, 171px, -627px, -171px, 39px, 31px, 666px, 399px, '/img/dist/sprite.png', 'twitter', );
$view-name: 'view';
$view-x: 550px;
$view-y: 308px;
$view-offset-x: -550px;
$view-offset-y: -308px;
$view-width: 20px;
$view-height: 20px;
$view-total-width: 666px;
$view-total-height: 399px;
$view-image: '/img/dist/sprite.png';
$view: (550px, 308px, -550px, -308px, 20px, 20px, 666px, 399px, '/img/dist/sprite.png', 'view', );
$why-go-name: 'why-go';
$why-go-x: 0px;
$why-go-y: 366px;
$why-go-offset-x: 0px;
$why-go-offset-y: -366px;
$why-go-width: 28px;
$why-go-height: 33px;
$why-go-total-width: 666px;
$why-go-total-height: 399px;
$why-go-image: '/img/dist/sprite.png';
$why-go: (0px, 366px, 0px, -366px, 28px, 33px, 666px, 399px, '/img/dist/sprite.png', 'why-go', );
$etch-small-2x-name: 'etch-small-2x';
$etch-small-2x-x: 1185px;
$etch-small-2x-y: 570px;
$etch-small-2x-offset-x: -1185px;
$etch-small-2x-offset-y: -570px;
$etch-small-2x-width: 142px;
$etch-small-2x-height: 46px;
$etch-small-2x-total-width: 1332px;
$etch-small-2x-total-height: 798px;
$etch-small-2x-image: '/img/dist/sprite-2x.png';
$etch-small-2x: (1185px, 570px, -1185px, -570px, 142px, 46px, 1332px, 798px, '/img/dist/sprite-2x.png', 'etch-small-2x', );
$facebook-2x-name: 'facebook-2x';
$facebook-2x-x: 1254px;
$facebook-2x-y: 270px;
$facebook-2x-offset-x: -1254px;
$facebook-2x-offset-y: -270px;
$facebook-2x-width: 72px;
$facebook-2x-height: 72px;
$facebook-2x-total-width: 1332px;
$facebook-2x-total-height: 798px;
$facebook-2x-image: '/img/dist/sprite-2x.png';
$facebook-2x: (1254px, 270px, -1254px, -270px, 72px, 72px, 1332px, 798px, '/img/dist/sprite-2x.png', 'facebook-2x', );
$like-2x-name: 'like-2x';
$like-2x-x: 1254px;
$like-2x-y: 470px;
$like-2x-offset-x: -1254px;
$like-2x-offset-y: -470px;
$like-2x-width: 58px;
$like-2x-height: 48px;
$like-2x-total-width: 1332px;
$like-2x-total-height: 798px;
$like-2x-image: '/img/dist/sprite-2x.png';
$like-2x: (1254px, 470px, -1254px, -470px, 58px, 48px, 1332px, 798px, '/img/dist/sprite-2x.png', 'like-2x', );
$logo-ondark-2x-name: 'logo-ondark-2x';
$logo-ondark-2x-x: 0px;
$logo-ondark-2x-y: 270px;
$logo-ondark-2x-offset-x: 0px;
$logo-ondark-2x-offset-y: -270px;
$logo-ondark-2x-width: 1254px;
$logo-ondark-2x-height: 254px;
$logo-ondark-2x-total-width: 1332px;
$logo-ondark-2x-total-height: 798px;
$logo-ondark-2x-image: '/img/dist/sprite-2x.png';
$logo-ondark-2x: (0px, 270px, 0px, -270px, 1254px, 254px, 1332px, 798px, '/img/dist/sprite-2x.png', 'logo-ondark-2x', );
$logo-onlight-2x-name: 'logo-onlight-2x';
$logo-onlight-2x-x: 0px;
$logo-onlight-2x-y: 0px;
$logo-onlight-2x-offset-x: 0px;
$logo-onlight-2x-offset-y: 0px;
$logo-onlight-2x-width: 1332px;
$logo-onlight-2x-height: 270px;
$logo-onlight-2x-total-width: 1332px;
$logo-onlight-2x-total-height: 798px;
$logo-onlight-2x-image: '/img/dist/sprite-2x.png';
$logo-onlight-2x: (0px, 0px, 0px, 0px, 1332px, 270px, 1332px, 798px, '/img/dist/sprite-2x.png', 'logo-onlight-2x', );
$logo-sm-ondark-2x-name: 'logo-sm-ondark-2x';
$logo-sm-ondark-2x-x: 0px;
$logo-sm-ondark-2x-y: 524px;
$logo-sm-ondark-2x-offset-x: 0px;
$logo-sm-ondark-2x-offset-y: -524px;
$logo-sm-ondark-2x-width: 520px;
$logo-sm-ondark-2x-height: 162px;
$logo-sm-ondark-2x-total-width: 1332px;
$logo-sm-ondark-2x-total-height: 798px;
$logo-sm-ondark-2x-image: '/img/dist/sprite-2x.png';
$logo-sm-ondark-2x: (0px, 524px, 0px, -524px, 520px, 162px, 1332px, 798px, '/img/dist/sprite-2x.png', 'logo-sm-ondark-2x', );
$logo-sm-onlight-2x-name: 'logo-sm-onlight-2x';
$logo-sm-onlight-2x-x: 520px;
$logo-sm-onlight-2x-y: 524px;
$logo-sm-onlight-2x-offset-x: -520px;
$logo-sm-onlight-2x-offset-y: -524px;
$logo-sm-onlight-2x-width: 520px;
$logo-sm-onlight-2x-height: 162px;
$logo-sm-onlight-2x-total-width: 1332px;
$logo-sm-onlight-2x-total-height: 798px;
$logo-sm-onlight-2x-image: '/img/dist/sprite-2x.png';
$logo-sm-onlight-2x: (520px, 524px, -520px, -524px, 520px, 162px, 1332px, 798px, '/img/dist/sprite-2x.png', 'logo-sm-onlight-2x', );
$moov-2x-name: 'moov-2x';
$moov-2x-x: 1040px;
$moov-2x-y: 570px;
$moov-2x-offset-x: -1040px;
$moov-2x-offset-y: -570px;
$moov-2x-width: 145px;
$moov-2x-height: 46px;
$moov-2x-total-width: 1332px;
$moov-2x-total-height: 798px;
$moov-2x-image: '/img/dist/sprite-2x.png';
$moov-2x: (1040px, 570px, -1040px, -570px, 145px, 46px, 1332px, 798px, '/img/dist/sprite-2x.png', 'moov-2x', );
$postgraphile-2x-name: 'postgraphile-2x';
$postgraphile-2x-x: 1040px;
$postgraphile-2x-y: 524px;
$postgraphile-2x-offset-x: -1040px;
$postgraphile-2x-offset-y: -524px;
$postgraphile-2x-width: 275px;
$postgraphile-2x-height: 46px;
$postgraphile-2x-total-width: 1332px;
$postgraphile-2x-total-height: 798px;
$postgraphile-2x-image: '/img/dist/sprite-2x.png';
$postgraphile-2x: (1040px, 524px, -1040px, -524px, 275px, 46px, 1332px, 798px, '/img/dist/sprite-2x.png', 'postgraphile-2x', );
$sponsors-2x-name: 'sponsors-2x';
$sponsors-2x-x: 1254px;
$sponsors-2x-y: 404px;
$sponsors-2x-offset-x: -1254px;
$sponsors-2x-offset-y: -404px;
$sponsors-2x-width: 66px;
$sponsors-2x-height: 66px;
$sponsors-2x-total-width: 1332px;
$sponsors-2x-total-height: 798px;
$sponsors-2x-image: '/img/dist/sprite-2x.png';
$sponsors-2x: (1254px, 404px, -1254px, -404px, 66px, 66px, 1332px, 798px, '/img/dist/sprite-2x.png', 'sponsors-2x', );
$tak-2x-name: 'tak-2x';
$tak-2x-x: 0px;
$tak-2x-y: 686px;
$tak-2x-offset-x: 0px;
$tak-2x-offset-y: -686px;
$tak-2x-width: 343px;
$tak-2x-height: 46px;
$tak-2x-total-width: 1332px;
$tak-2x-total-height: 798px;
$tak-2x-image: '/img/dist/sprite-2x.png';
$tak-2x: (0px, 686px, 0px, -686px, 343px, 46px, 1332px, 798px, '/img/dist/sprite-2x.png', 'tak-2x', );
$tools-2x-name: 'tools-2x';
$tools-2x-x: 1040px;
$tools-2x-y: 616px;
$tools-2x-offset-x: -1040px;
$tools-2x-offset-y: -616px;
$tools-2x-width: 60px;
$tools-2x-height: 62px;
$tools-2x-total-width: 1332px;
$tools-2x-total-height: 798px;
$tools-2x-image: '/img/dist/sprite-2x.png';
$tools-2x: (1040px, 616px, -1040px, -616px, 60px, 62px, 1332px, 798px, '/img/dist/sprite-2x.png', 'tools-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 1254px;
$twitter-2x-y: 342px;
$twitter-2x-offset-x: -1254px;
$twitter-2x-offset-y: -342px;
$twitter-2x-width: 78px;
$twitter-2x-height: 62px;
$twitter-2x-total-width: 1332px;
$twitter-2x-total-height: 798px;
$twitter-2x-image: '/img/dist/sprite-2x.png';
$twitter-2x: (1254px, 342px, -1254px, -342px, 78px, 62px, 1332px, 798px, '/img/dist/sprite-2x.png', 'twitter-2x', );
$view-2x-name: 'view-2x';
$view-2x-x: 1100px;
$view-2x-y: 616px;
$view-2x-offset-x: -1100px;
$view-2x-offset-y: -616px;
$view-2x-width: 40px;
$view-2x-height: 40px;
$view-2x-total-width: 1332px;
$view-2x-total-height: 798px;
$view-2x-image: '/img/dist/sprite-2x.png';
$view-2x: (1100px, 616px, -1100px, -616px, 40px, 40px, 1332px, 798px, '/img/dist/sprite-2x.png', 'view-2x', );
$why-go-2x-name: 'why-go-2x';
$why-go-2x-x: 0px;
$why-go-2x-y: 732px;
$why-go-2x-offset-x: 0px;
$why-go-2x-offset-y: -732px;
$why-go-2x-width: 56px;
$why-go-2x-height: 66px;
$why-go-2x-total-width: 1332px;
$why-go-2x-total-height: 798px;
$why-go-2x-image: '/img/dist/sprite-2x.png';
$why-go-2x: (0px, 732px, 0px, -732px, 56px, 66px, 1332px, 798px, '/img/dist/sprite-2x.png', 'why-go-2x', );
$spritesheet-width: 666px;
$spritesheet-height: 399px;
$spritesheet-image: '/img/dist/sprite.png';
$spritesheet-sprites: ($etch-small, $facebook, $like, $logo-ondark, $logo-onlight, $logo-sm-ondark, $logo-sm-onlight, $moov, $postgraphile, $sponsors, $tak, $tools, $twitter, $view, $why-go, );
$spritesheet: (666px, 399px, '/img/dist/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 1332px;
$retina-spritesheet-height: 798px;
$retina-spritesheet-image: '/img/dist/sprite-2x.png';
$retina-spritesheet-sprites: ($etch-small-2x, $facebook-2x, $like-2x, $logo-ondark-2x, $logo-onlight-2x, $logo-sm-ondark-2x, $logo-sm-onlight-2x, $moov-2x, $postgraphile-2x, $sponsors-2x, $tak-2x, $tools-2x, $twitter-2x, $view-2x, $why-go-2x, );
$retina-spritesheet: (1332px, 798px, '/img/dist/sprite-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$etch-small-group-name: 'etch-small';
$etch-small-group: ('etch-small', $etch-small, $etch-small-2x, );
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-2x, );
$like-group-name: 'like';
$like-group: ('like', $like, $like-2x, );
$logo-ondark-group-name: 'logo-ondark';
$logo-ondark-group: ('logo-ondark', $logo-ondark, $logo-ondark-2x, );
$logo-onlight-group-name: 'logo-onlight';
$logo-onlight-group: ('logo-onlight', $logo-onlight, $logo-onlight-2x, );
$logo-sm-ondark-group-name: 'logo-sm-ondark';
$logo-sm-ondark-group: ('logo-sm-ondark', $logo-sm-ondark, $logo-sm-ondark-2x, );
$logo-sm-onlight-group-name: 'logo-sm-onlight';
$logo-sm-onlight-group: ('logo-sm-onlight', $logo-sm-onlight, $logo-sm-onlight-2x, );
$moov-group-name: 'moov';
$moov-group: ('moov', $moov, $moov-2x, );
$postgraphile-group-name: 'postgraphile';
$postgraphile-group: ('postgraphile', $postgraphile, $postgraphile-2x, );
$sponsors-group-name: 'sponsors';
$sponsors-group: ('sponsors', $sponsors, $sponsors-2x, );
$tak-group-name: 'tak';
$tak-group: ('tak', $tak, $tak-2x, );
$tools-group-name: 'tools';
$tools-group: ('tools', $tools, $tools-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$view-group-name: 'view';
$view-group: ('view', $view, $view-2x, );
$why-go-group-name: 'why-go';
$why-go-group: ('why-go', $why-go, $why-go-2x, );
$retina-groups: ($etch-small-group, $facebook-group, $like-group, $logo-ondark-group, $logo-onlight-group, $logo-sm-ondark-group, $logo-sm-onlight-group, $moov-group, $postgraphile-group, $sponsors-group, $tak-group, $tools-group, $twitter-group, $view-group, $why-go-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
