// Use Grunt to generate this. Or else!

// Third Party CSS
// e.g @import "icon-font";
@import "mq"; //Media query goodness
@import "spritesmith"; //Spriting - Add images to /img/src/png-sprite before using - Usage: @include retina-sprite($icon-logo-group); (Where icon-logo = your file name)

// VARIABLES, MIXINS AND SPRITING
@import "variables";

//////////////////////////////////////////////////////////////////////////////////////////////////// Base
//// Body
html, body {
  @extend %base;
}
html{
  overflow-x:hidden;
}
body{
  position:relative;
  overflow-y:hidden;
}
//// Font visibility
/*h1,h2,h3,h4,h5,h6,p,a,ul,ol,span,input{
  .wf-loading &{
    visibility:hidden;
  }
  .wf-inactive &, .wf-active &{
    visibility:visible;
  }
}*/
h1,h2,h3,h4,h5{ 
  font-family: $heading-font; 
  line-height:1.2em; 
}
h2{
  font-size:1.7rem;
}
a{ 
  color:$default-link-color; 
  text-decoration:underline;

  &:hover{
    color:$hover-link-color; 
    text-decoration:none;
  }
}
p{
  line-height:24px;
}
ul{ 
  padding:0px; 
  margin:0px; 
  list-style-type:none; 
}
.unbutton{ 
  background:transparent; 
  padding:0; 
  margin:0; 
  border:0; 
  
  &:hover{
    background:transparent;
  }
}
.btn{
  display:inline-block;
  border:1px solid black;
  color:black;
  padding:12px 16px;
  text-transform:uppercase;
  text-decoration:none;
  margin:4px;
  height:auto;
  text-align:center;
  min-width:170px;
  transition:opacity .2s ease-in-out;
  float:none;
  width:100%;
  border-radius:3em;
  font-weight:bold;

  @include mq($from: M){
      width:auto;
  }
}
a.btn--primary, input.btn--primary, button.btn--primary, .btn--primary > a, .contour .btn.primary{
  @extend .btn;
  color:$body-background-color;
  background:$magenta;
  border-color:$magenta;

  &:hover{
    background:darken($magenta, 10%);
    border-color:darken($magenta, 10%);
  }
}


//////////////////////////////////////////////////////////////////////////////////////////////////// Styling

//"Full width" Elements
.fw-container{
	width:100%;
	max-width:2560px; //Override of responsiveBP
	margin:auto;
}
//To constrain content inside a fw-container. This class should not be ON your fw-container, but an element within.
.constrain{
  width:$content-width;
  max-width:$max-content-width;
  margin:auto;
}

.page-bg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:110%;
  z-index:1;
  background:url(/img/dist/background.png) 0 0 repeat-y transparent;
  background-size:100% auto;
}
.page-content{
  position:relative;
  z-index:2;
}

//// Header
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.primary-header{
  position:relative;
  z-index:100;
  
  @include mq($from: L){
    //opacity:0;
    //animation: fadein 1s;
    //animation-delay: 2s;
  }
}
.primary-header__inner{
  padding:2rem 0;
  text-align:center;

  @include mq($from: L){
    padding:15rem 0 7rem;
  }
}
.logo{
  text-indent:-9999px;
  font-size:0;
  line-height:0;
  @include retina-sprite($logo-sm-onlight-group);
  margin:0 auto 36px;
  display:block;

  @include mq($from: L){
    @include retina-sprite($logo-onlight-group);
  }
}
.subtitle{}
.primary-header__info{
  margin-top:36px;
  @include mq($from: L){
    margin:100px auto 0;
    max-width:740px;
  }
}
.primary-header__info-title{
  display:block;
  margin-bottom:12px;
  font-size:18px;
}
.primary-header__info-link{
  display:block;
}

.tickets-and-social{
  @include mq($from: L){
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 0;
    z-index:100;
    background:rgba(255,255,255,0.8);
  }
}
.tickets{
  margin-bottom:36px;
  text-align:center;

  @include mq($from: L){
    margin-bottom:0;
    text-align:right;
  }
}
.social{
  text-align:center;

  @include mq($from: L){
    text-align:left;
    margin:8px 0;
  }
}
.social__link{
  display:inline-block;
  font-size:0;
  line-height:0;
  text-indent:-999999px;
  vertical-align:middle;
  

  &:hover{
    opacity:0.8;
  }

  &--twitter{
    @include retina-sprite($twitter-group);
  }
  &--facebook{
    @include retina-sprite($facebook-group);
  }

  @include mq($from: L){
    margin-right:30px;
  }
}
.primary-header__info{
  .addeventatc{
    display:block !important;
    border:0 !important;
    background:none !important;
    color: #DF31E7 !important;
    text-decoration: underline !important;
    font-family:$base-font !important;
    font-size:16px !important;
    padding:0 !important;
  }
  .addeventatc_icon{
    display:none;
  }
  .addeventatc_dropdown{
    margin-top:5px !important;
    width:100% !important;
    z-index:999999 !important;
  }
}


.content-row__title-container, .content-row__box, .sponsors{
  opacity:0;
  transition:none;
}
.content-row--1, .content-row--3{
  .content-row__title-container{
    transform: translateX(-80px);
  }
  .content-row__box{
    transform: translateX(80px);
  }
}
.content-row--2, .content-row--4{
  .content-row__title-container{
    transform: translateX(80px);
  }
  .content-row__box, .sponsors{
    transform: translateX(-80px);
  }
}
.content-row__title-container, .content-row__box, .sponsors{
  .content-row--animate &{
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(0px);
    opacity: 1;
  }
}

.content-row{
  position:relative;
  padding:40px 0;

  @include mq($from: L){
    padding:70px 0;
    margin:30px 0;
  }
}
.content-row__inner{
  @include clear;
  position:relative;
}
.content-row__title-container{
  text-align:center;
  z-index:2;
  @include mq($from: L){
    position:absolute;
    text-align:left;

    .content-row--1 &{
      width:240px;
      top:0;
      left:12%;
    }
    .content-row--2 &{
      right:3%;
      top:0;
    }
    .content-row--3 &{
      width:240px;
      top:0;
      left:4%;
    }
    .content-row--4 &{
      right:3%;
      top:0;
    }
  }
  @include mq($from: XXL){
    .content-row--1 &{

    }
    .content-row--2 &{
      
    }
    .content-row--3 &{
      left:10%;
    }
    .content-row--4 &{
      
    }
  }
  
}
.content-row__title-icon{
  display:inline-block;

  .content-row--1 &{
    @include retina-sprite($like-group);
  }
  .content-row--2 &{
    @include retina-sprite($why-go-group);
  }
  .content-row--3 &{
    @include retina-sprite($tools-group);
  }
  .content-row--4 &{
    @include retina-sprite($sponsors-group);
  }
}
.content-row__title{
  text-transform: uppercase;
}
.content-row__title-underline{
  width:100px;
  height:10px;
  display:inline-block;
  margin-bottom:18px;

  .content-row--1 &{
    background:$cyan
  }
  .content-row--2 &{
    background:$magenta;
  }
  .content-row--3 &{
    background:$magenta;
  }
  .content-row--4 &{
    background:$cyan;
  }

  @include mq($from: L){
    margin-bottom:36px;
  }
}
.content-row__title-link{
  text-decoration:none;
  display:block;
  margin-bottom:20px;

  &:hover{
    text-decoration: underline;
  }
  .content-row--1 &{
    color:$cyan
  }
  .content-row--2 &{
    color:$magenta;
  }
  .content-row--3 &{
    color:$magenta;
  }
  .content-row--4 &{
    color:$cyan;
  }
}
.content-row__box{
  background: $white;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  padding:20px;

  p:first-child{
    font-weight:bold;
    font-size:18px;
  }

  @include mq($from: L){
    padding:30px 45px;

      .content-row--1 &{
        width:70%;
        float:right;
      }
      .content-row--2 &{
        width:82%;
      }
      .content-row--3 &{
        width:60%;
        float:right;
        margin-right:14%;
      }
      .content-row--4 &{
        
      }
  }
  @include mq($from: XXL){
    padding:50px 70px;
    .content-row--1 &{
        margin-right:5%;
      }
      .content-row--2 &{
        
      }
      .content-row--3 &{

      }
      .content-row--4 &{
        
      }
  }
}
.content-row__numeric-list-title{
  font-size:18px;
  font-weight:bold;
  text-transform: uppercase;
  line-height:1.3em;
  display:block;
  @include mq($from: L){
    min-height:46px;
  }
  @include mq($from: XXL){
    min-height:0;
  }
  
}
.content-row__numeric-list-number{
  color:$magenta;
}


.image-row{
  @include mq($from: L){
    padding:100px 0;
  }
}
.image-row__inner{
  text-align:center;

  @include mq($from: L){
    position:relative;
    min-height:320px;
  }
}
.image-row__image{
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  margin-bottom:20px;
  @include mq($from: M){
    width:46%;
    margin:0 1% 20px;
  }
  @include mq($from: L){
    width:25%;
    position:absolute;

      &--1{
        left:0;
        top:-20px;

        .image-row--alt &{
          top:80px
        }
      }
      &--2{
        left:32%;
        top:50px;

        .image-row--alt &{
          left:42%;
          top:0;
        }
      }
      &--3{
        right:0;
        top:15px;

        .image-row--alt &{
          top:40px;
        }
      }
  }
}

.sponsors-icon{
  display:inline-block;
  vertical-align:middle;
  margin-left:5px;
  @include retina-sprite($view-group);
}
.sponsors{
  min-height:200px;
  @include mq($from: L){
    width:64%;
  }
  @include mq($from: XXL){
    width:71%;
  }
}
.sponsor{
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  background:$white;
  margin-bottom:20px;
  text-align:center;

  &--3-sided-cube{
    background:#BDF53B;
  }
}
.sponsor__link{
  display:block;
  max-width:400px;
  margin:auto;
}

//// Content - Stuff the users can WYSIWYG
.content{
	@import "shared";
}

//// Main Area
.main-area{}
.main-area__inner{}

//// Footer
.primary-footer{
  background:#1B1423;
  padding:60px 0 36px;
  color:$grey;
}
.primary-footer__inner{}
.primary-footer__logo{
  display:block;
  font-size:0;
  line-height:0;
  text-indent: -999999px;
  @include retina-sprite($logo-sm-ondark-group);
  margin:0 auto 36px;

  @include mq($from: L){
    @include retina-sprite($logo-ondark-group);
  }
}
.primary-footer__info{
  margin-bottom:54px;
}
.primary-footer__info-title{
  display:block;
  margin-bottom:12px;
  font-size:18px;
}
.primary-footer__info-link{
  display:block;
  display:none;
}
.primary-footer__legal{
  border-top:1px solid #4A4252;
  padding:28px 0;
}
.primary-footer__enquiries-label{
  display:block;
  margin-bottom:6px;
}
.primary-footer__enquiries-link{
  display:block;
  text-decoration: none;
  margin-bottom:30px;
  &:hover{
    text-decoration: underline;
  }

  @include mq($from: L){
    margin-bottom:0;
  }
}
.supporters{}
.supporters__label{
  display:block;
  margin-bottom:6px;
}
.supporters__inner{
  display:block;
}
.supporter{
  display:inline-block;
  font-size:0;
  line-height:0;
  text-indent:-99999px;
  vertical-align: top;
  margin-right:20px;
  margin-bottom:12px;

  &--etch{
    @include retina-sprite($etch-small-group);
  }
  &--moov{
    @include retina-sprite($moov-group);
  }
  &--postgraphile{
    @include retina-sprite($postgraphile-group);
  }
  &--tak{
    @include retina-sprite($tak-group);
  }

  @include mq($from: L){
    margin-left:20px;
    margin-right:0;
  }
}

.cookie-message{
    background:#000000;
    background:rgba(0,0,0,0.7);
    color:#ffffff;
    position:fixed;
    bottom:0;
    left:0;
    font-size:14px;
    transform:translateY(100%);
    transition:transform 0.3s ease-in-out;
    z-index:50;
    @include respond-to(old-ie){
        display:none;
    }

    a{
        color:#ffffff;
        text-decoration:underline;

        &:hover{
            text-decoration:none;
            color:#ffffff;
        }
    }

    &.cookie-message--visible{
        transform:translateY(0);
        @include respond-to(old-ie){
            display:block;
        }
    }
}
.cookie-message__inner{
    padding:6px 0;
}
.cookie-message__close{
    float:right;
    color:#ffffff;
    min-height:0;
}

table{
  border-top:2px solid #4AB4DD;
  border-left:2px solid #4AB4DD;
  display:none;

  @include mq($from: M){
    display:block;
  }
  h3{
    margin:0;
  }
  p{
    margin-top:0;
    font-size:16px !important;
    font-weight:normal !important;

    &:last-child{
      margin-bottom:0;
    }
  }
  th,td{
    border-right:2px solid #4AB4DD;
    border-bottom:2px solid #4AB4DD;
  }
  
  td{
    width:40%;
    

    &:first-child,&:last-child{
      width:30%;
    }
  }
  table{
    margin:0;
    border:0;

    th,td{
      width:auto !important;
      border-color:#CECECE;
    }
  }
}

//@import "responsive-tables"; //Uncomment to use responsive relayouting tables

@import "print";



